{% extends "posts/base.html" %}

{% block title %}Post details{% endblock %}

{% block content %}
    <table>
        <tr>
            <th align="left">Author:</th>
            <td>{{ post.author }}</td>
        </tr>
        <tr>
            <th align="left">Title:</th>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <th align="left">Content:</th>
            <td>{{ post.content }}</td>
        </tr>
        <tr>
            <th align="left">Created:</th>
            <td>{{ post.created }}</td>
        </tr>

    </table>
    <a href="{% url "posts:posts_list" %}">back</a>
{% endblock %}